.app {
  display: flex;
  flex-direction: row;
  background-color: #19172C;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-nav li {
  margin-right: 10px;
}

.navbar-nav li a {
  color: #fff;
  text-decoration: none;
}

.sidebar {
  background-color: #555;
  width: 200px;
  padding-top: 50px;
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin-bottom: 10px;
}

.sidebar-nav li a {
  color: #fff;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

.content {
  padding: 20px;
  margin-left: 200px;
}
